<p id="notice"><%= notice %></p>

<h1>Sales Staffs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone num</th>
      <th>Mail</th>
      <th>Mail cc 1</th>
      <th>String</th>
      <th>Mail cc 2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_staffs.each do |sales_staff| %>
      <tr>
        <td><%= sales_staff.name %></td>
        <td><%= sales_staff.phone_num %></td>
        <td><%= sales_staff.mail %></td>
        <td><%= sales_staff.mail_cc_1 %></td>
        <td><%= sales_staff.mail_cc_2 %></td>
        <td><%= link_to 'Show', sales_staff %></td>
        <td><%= link_to 'Edit', edit_sales_staff_path(sales_staff) %></td>
        <td><%= link_to 'Destroy', sales_staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales Staff', new_sales_staff_path %>
