<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sales_staff.name %>
</p>

<p>
  <strong>Phone num:</strong>
  <%= @sales_staff.phone_num %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @sales_staff.mail %>
</p>

<p>
  <strong>Mail cc 1:</strong>
  <%= @sales_staff.mail_cc_1 %>
</p>

<p>
  <strong>String:</strong>
  <%= @sales_staff.string %>
</p>

<p>
  <strong>Mail cc 2:</strong>
  <%= @sales_staff.mail_cc_2 %>
</p>

<%= link_to 'Edit', edit_sales_staff_path(@sales_staff) %> |
<%= link_to 'Back', sales_staffs_path %>
