<p id="notice"><%= notice %></p>

<p>
  <strong>Month:</strong>
  <%= @bill.month %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>

<%= link_to 'pdf', "#{@bill.id}.pdf" %>
