<!DOCTYPE html>
<html>
  <head>
    <title>Invoice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="assets/css/application.scss">
  </head>

  <body>


    <% if user_signed_in? %>
      <%= render 'layouts/header' %>
    <% else %>
      <%= render 'devise/shared/header' %>
    <% end %>

    

    <div class="container mb-5" style="overflow:auto; height:1000px;">
      <%= yield %>
    </div>


     <% if user_signed_in? %>
      <%= render 'layouts/footer' %>
    <% else %>
      <%= render 'devise/shared/footer' %>
    <% end %>
      
  </body>
</html>
