<%= form_with model: @bill, method: :post do |form| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@bill.errors.count, "error") %>
        prohibited this bill from being saved:
      </h2>
      <ul>
      <% @bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field :create, :type, { value: 'create_pdf' } %>
  <ul class="list-group input-group" style="width: 50%;">
    <li class="list-group-item">
      請求先: <%= @member.bill_to.name %>
    </li>
    <li class="list-group-item">
      稼働者: <%= @member.name %>
    </li>
    <li class="list-group-item">
      稼働月: <%= select_month(form) %>
    </li>
    <li class="list-group-item input-group mb3">
      作業期間: <%= last_month_beginning_date(form) %> 〜 <%= last_month_end_date(form) %>
    </li>
    <li class="list-group-item input-group mb3">
      超過（基準時間　<%= @member.upper_standerd %>）
    </li>
    <li class="list-group-item input-group mb3">
      控除（基準時間　<%= @member.lower_standerd %>）
    </li>
    <li class="list-group-item input-group mb3">
      残業 / 控除 <%= form.text_field :bill_to_name, readonly: true %>
    </li>
  </ul>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
