<p id="notice"><%= notice %></p>

<h1>社員一覧</h1>

<%= link_to '社員追加', new_member_path %>

<table>
  <thead>
    <tr>
        <th>ID</th>
        <th>社員番号</th>
        <th>名前</th>
        <th>現場</th>
        <th></th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.id %></td>
        <td><%= member.Company_number %></td>
        <td><%= link_to member.name , member %></td>
        <td><%= member.workplace %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
        <th>ID</th>
        <th>社員番号</th>
        <th>名前</th>
        <th>現場</th>
        <th></th>
        <th></th>
    </tr>
</tfoot>
</table>

<br>

<%= link_to '社員追加', new_member_path %>
