<p id="notice"><%= notice %></p>

<p class="lead">社員一覧</p>

<%= search_form_for @q do |f| %>
  <div class="input-group mb-3">
    <span class="input-group-text" id="">名　前</span>
    <%= f.search_field :name_cont, { class: 'form-control' } %>
  </div>
  <div class="input-group mb-3">
    <%= f.label '請求先', { class: 'input-group-text' } %>
    <%= f.collection_select(:bill_to_id_eq, BillTo.all, :id, :name, :include_blank => '選択してください') %>
  </div>
  <%= f.submit '検索', { class: "btn btn-primary active" } %>
<% end %>

<table class="table">
  <thead>
    <tr>
      　<th></th>
        <th>氏名</th>
        <th>請求先</th>
        <th>単価(円)</th>
        <th></th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= check_box_tag 'member_ids[]', member.id, true, {} %></td>
        <td><%= link_to member.name, member %></td>
        <td><%= link_to member.bill_to.name, member %></td>
        <td><%= member.unit_price %></td>
        <td><%= link_to '編集', edit_member_path(member), { class: "btn btn-link" } %></td>
        <td><%= link_to '削除', member, method: :delete, data: { confirm: '削除してもよろしいですか？' }, class: "btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>
<br>

<%= link_to '社員追加', new_member_path, { class: "btn btn-primary active" } %>
