<p id="notice"><%= notice %></p>

<h1>社員情報</h1>

<table>
<tbody>

	<th>社員番号</th>
	<th>名前</th>

  <tr>
  	<td><%= @member.company_id %></td>
  	<td><%= @member.name %></td>
  </tr>


</tbody>
</table>

<%= link_to '編集', edit_member_path(@member) %> |
<%= link_to '戻る', members_path %>
